<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
    rel="stylesheet" 
    type="text/css" 
    href="{{ url_for('static', filename='css/style.css') }}"
    >
    <title>Hamburger</title>
</head>
<body>
    <div class="whole-page flex">
        <!-- navbar -->
        <div class="blank">BLANK</div>
        <main>
            <!-- main body -->
            <div class="columns flex">
                <div class="leftcol">L-COL
                    <div class="l-1">L-1</div>
                </div>
                <!-- side panel -->
            <div class="rightcol">R-COL
                <div class="r-1">R-1</div>
            </div>
        </div>
        </main>
        <div class="blank">BLANK</div>
</body>
</html>