<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
    rel="stylesheet" 
    type="text/css" 
    href="{{ url_for('static', filename='css/style.css') }}"
    >
    <title>Hamburger</title>
</head>
<body>
    <div class="whole-page flex">
        <nav class="nav flex" role="navigation" aria-label="main navigation">
            <div class="navbar flex">
                <h1 class="title">
                    Hello ~logged_in.username~
                </h1>
            </div>
            <a href="/myvocab" class="navbar-item">
                My Vocabulary Words
            </a>
            <div class="navbar flex">
                <a href="/new/vocab" class="navbar-item">
                    New Vocabulary Words
                </a>
            </div>
            <div class="navbar flex">
                <div class="buttons">
                    <a href="/logout">
                        Log Out
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <!-- the real stuff below -->
    <main>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- main body -->
        <div class="columns flex">
            <div class="blank"> </div>
            <div class="leftcol flex">
                <div class="l-1">
                    <h1 class="title">
                        Create a New Hamburger
                    </h1>
                </div>
            </div>
                <!-- side panel -->
            <div class="rightcol flex">
                <div class="r-1">
                    <img src="{{ url_for('static',filename ='img\hamburger.png') }}" alt="hamburger">
                </div>
            </div>
            <div class="blank"> </div>
        </div>
        </main>
</body>
</html>